name: Build NetReset APK

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.27.0'
          channel: 'stable'

      - name: Get Dependencies
        run: flutter pub get

      - name: Analyze
        run: flutter analyze

      # Setup Keystore
      - name: Decode Keystore
        run: |
          echo "${{ secrets.NETRESET_KEYSTORE_BASE64 }}" | base64 --decode > android/app/upload-keystore.jks
        
      # Build APK
      - name: Build Signed APK
        run: flutter build apk --release --split-per-abi
        env:
          KEY_STORE_PASSWORD: ${{ secrets.NETRESET_STORE_PASSWORD }}
          KEY_PASSWORD: ${{ secrets.NETRESET_KEY_PASSWORD }}
          KEY_ALIAS: ${{ secrets.NETRESET_KEY_ALIAS }}

      - name: Upload APK (arm64-v8a)
        uses: actions/upload-artifact@v4
        with:
          name: app-arm64-v8a-release
          path: build/app/outputs/flutter-apk/app-arm64-v8a-release.apk

      - name: Upload APK (armeabi-v7a)
        uses: actions/upload-artifact@v4
        with:
          name: app-armeabi-v7a-release
          path: build/app/outputs/flutter-apk/app-armeabi-v7a-release.apk

      - name: Upload APK (x86_64)
        uses: actions/upload-artifact@v4
        with:
          name: app-x86_64-release
          path: build/app/outputs/flutter-apk/app-x86_64-release.apk