name: Build NetReset APK

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      
      - name: Setup Java
        uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '17'

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.27.0'
          channel: 'stable'

      - name: Get Dependencies
        run: flutter pub get

      # Setup Keystore
      - name: Decode Keystore
        run: |
          echo "${{ secrets.NETRESET_KEYSTORE_BASE64 }}" | base64 --decode > android/app/upload-keystore.jks
        
      # Build APK
      - name: Build Signed APK
        run: flutter build apk --release --split-per-abi
        env:
          KEY_STORE_PASSWORD: ${{ secrets.NETRESET_STORE_PASSWORD }}
          KEY_PASSWORD: ${{ secrets.NETRESET_KEY_PASSWORD }}
          KEY_ALIAS: ${{ secrets.NETRESET_KEY_ALIAS }}